<h1><%= @author.name %></h1>

<ul>
  <li><%= link_to "Edit", edit_author_path(@author) %></li>
  <li><%= link_to "Destroy", author_path(@author),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

